<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.miui.whetstone.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />



    <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>




    <application
        android:allowBackup="true"

        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"

        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:label="商城"

        android:theme="@style/Base.Theme.Project167"
        android:networkSecurityConfig="@drawable/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data"
        >
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MyCommodityActivity"/>
        <activity android:name=".AddCommodityActivity"/>
        <activity android:name=".PersonalCenterActivity"/>
        <activity android:name=".CommodityDetailActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".MyBuyActivity"/>
        <activity android:name=".AllMessageActivity"/>
        <activity android:name=".ChatDetailActivity" />
        <activity android:name=".TypeCommodityActivity"/>
        <activity android:name=".PictureActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>